#intro {
    background: url('http://i.imgur.com/ABUpi1P.jpg') 100% fixed;
    height: 400px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    background-size: cover;
}
#home {
    background: url('http://i.imgur.com/ABUpi1P.jpg') 100% fixed;
    height: 400px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
    background-size:cover;
}
#about {
    background: url('http://i.imgur.com/eAWGO4S.jpg') 100% fixed;
    height: 400px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    color: #fff;
    background-size:cover;
}